---
import Layout from "@layouts/base.astro";
---

<Layout title="404 - astroDaily">
  <header class="w-full h-dvh flex flex-col justify-center items-center">
    <h1 class="font-bold text-7xl md:text-[12rem] tracking-tighter select-none text-center bg-linear-0 from-black to-zinc-200 text-transparent bg-clip-text hover:tracking-normal duration-700">
      Error 404
    </h1>
    <p class="text-center text-zinc-400 leading-relaxed text-balance -translate-y-4 md:text-2xl">
      Page Not Found
    </p>
    <p class="text-center text-zinc-200 leading-relaxed text-balance -translate-y-4 md:text-2xl">
      <a href="/" class="underline hover:decoration-wavy">Home</a>
    </p>
  </header>
</Layout>