---
import ApodCard from "@components/preApodCard.astro";
import Layout from "@layouts/base.astro";
import { database } from "@lib/database";
import Icon from "@components/icons.astro";

export const prerender = false;
const start = new Date(1995, 6, 16);
const end = new Date();

const random = new Date(
  start.getTime() + Math.random() * (end.getTime() - start.getTime()),
)
  .toISOString()
  .split("T")[0];

const { data: apod, error } = await database
  .from("APODs")
  .select("*")
  .eq("date", random);
---

<Layout>
  <section class="w-full min-h-[calc(100dvh-10rem)] flex flex-col items-center justify-center gap-10 px-6">
    <header class="w-full">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-zinc-200 tracking-tight text-center">
        Random Astronomy Picture of the Day from {random}
      </h1>
    </header>
    <ApodCard Apod={apod?.[0]} />
    <a href="/random" class="w-9/10 max-w-125 min-w-80 md:min-w-90 relative group flex items-center justify-center gap-2 py-4 rounded-3xl bg-white text-black font-semibold text-sm transition-transform active:scale-95 hover:bg-zinc-200" rel="nofollow" aria-label="Load another random Astronomy Picture of the Day" >
      Show another
      <Icon glyph="refresh-clockwise" class="group-hover:rotate-180 transition-transform duration-300" />
    </a>
  </section>
</Layout>
