---

---

<nav
  class="top-0 fixed flex flex-row w-full h-20 bg-linear-to-b from-black from-20% to-transparent z-50 transition:persist"
>
  <div class="md:ml-50 relative flex items-center justify-center w-20">
    <a href="/" class="w-full h-full hover:rotate-90 transition-transform duration-500">
      <img class="" src="/favicon.svg" alt="Logo" />
    </a>
  </div>
  <div class="relative w-full flex justify-end mr-7 md:mr-50 items-center">
    <ul class="flex flex-row gap-4 items-center h-full text-zinc-300">
      <li class="hover:text-white transition-colors duration-500">
        <a href="./apod">APOD</a>
      </li>
      |
      <li class="hover:text-white transition-colors duration-500">
        <a href="./archive">ARCHIVE</a>
      </li>
      |
      <li class="hover:text-white transition-colors duration-500">
        <a href="./gallery">GALLERY</a>
      </li>
      |
      <li class="hover:text-white transition-colors duration-500">
        <a href="./surprise">SURPRISE</a>
      </li>
    </ul>
  </div>
</nav>
