---
import "@styles/global.css";
import NavBar from "@components/navBar.astro";
import Footer from "@components/footer.astro";
const { ogImage, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:image" content={ogImage} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-black text-white scroll-smooth min-h-dvh font-sans antialiased selection:bg-white selection:text-black max-w-screen min-w-screen"
  >
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
